$gold: #c59b70;

.banner {
    width: 100%;
    height: 90%;
    overflow: hidden;

    .image {
        min-height: 100%;
        width: auto;
        min-width: 100%;
        height: auto;
    }

    .text-holder {
        position: absolute;
        top: 200px;
        top: 30%;
        line-height: 1.3;

        font-family: $crimson;
		font-weight: $light;
		font-style: italic;
		text-transform: none;

        h3, h1 {
            padding: 20px 20px;
            border: 1px solid $gold;
            background: rgba(0, 0, 0, 0.7);
            color: #ffffff;
            display: table;
            margin: 0 auto;
            float: none;
            margin-top: 10px;
        }

        h3 {
            font-size: 3.3em;
        }

        h1 {
            font-size: 6.2em;
        }
    }

    .button-holder {
        width: 100%;
        position: absolute;
        bottom: 50px;
        left: 0px;

        .button {
            display: table;
            margin: 0 auto;
            float: none;
        }
    }

    @include breakpoint(mobile) {
        
        height: 50%;
        min-height: 460px;

        .image {
            height: 100%;
            // height: 275px;
        }

        .text-holder {
            top: 20%;
            
            h3 {
                font-size: 2.1em;
                width: auto;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
                box-sizing: border-box;
            }

            h1 {
                font-size: 3.6em;
                width: auto;
                text-align: center;
                padding-left: 25px;
                padding-right: 25px;
                box-sizing: border-box;
            }
        }
    };
}

// swiper
.swiper-container {
    float: none;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.85);

    display: none;

    &.visible {
        display: block;
    }
    
    .close {
        border: 1px solid #fff;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        right: 20px;
        top: 20px;
        padding: 20px;
        font-size: 3em;
        line-height: 0.5;
        cursor: pointer;
        float: none;
        display: block;

        &:hover {
            color: #dcb647;
            border-color: #dcb647;
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    float: none;
}

.swiper-slide {
    float: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: none;

    img {
        width: 90%;
        max-height: 85%;
    }
}

.swiper-pagination {
    padding: 10px 0px;
}

.swiper-pagination-bullet {
    width: 18px;
    height: 18px;
}

.swiper-pagination-bullet-active {
    // background: #dcb647;
}