.booking {
    margin-top: 30px;
    // margin-bottom: 60px;
    
    .logo {
        max-width: 580px;
    }

    .body {
        padding: 30px 0px;
    }

    .title {
        margin-bottom: 40px;
    }

    .buttons {
        // margin-top: 65px;
        text-align: center;
        padding: 0px 30px 0px 30px;

        > * {
            padding: 0px 35px;
            line-height: 40px;
            border-radius: 3px;
            margin: 0px 20px;
            display: inline-block;
            float: none;

            font-family: $lato;
            font-weight: $bold;
            font-style: normal;
            font-size: 1.8em;
            color: #fff;
            text-transform: uppercase;

            padding-left: 20px;
            padding-right: 20px;

            &:hover {
				background: #fff !important;
				color: $gold;
				border-color: $gold !important;
                box-sizing: border-box;
				transform: scale(1.05);
				transition: all 0.2s;
                position: static;
			}
        }

        .airbnb { background: #ff5a5f; border: 1px solid #ff5a5f; }
        .uniplaces { background: #00adf2; border: 1px solid #00adf2; }
        .luxury { background: #62a43e; border: 1px solid #62a43e; }
    }
    
    .contacts {
        padding-top: 10px;
        text-align: center;

        .body {
            font-size: 1.6em;
            text-transform: uppercase;
            padding: 20px 0px 10px 0px;
        }

        .element {
            padding-top: 10px;
        }

        .mail, .phone {
            display: inline-block;
            float: none;
            font-size: 1.6em;
        }

        .phone {
            color: #afafaf;
            font-family: $lato;
            font-weight: $regular;

            &:after {
                content: "|";
                visibility: visible;
                padding: 0px 10px;
                display: inline-block;
                position: relative;
            }
        }

        .mail {
            color: #c4a674;
            font-family: $lato;
            font-weight: $bold;
        }
    }

    .bar {
        background: #343434;
        height: 50px;
        margin-top: 160px;
        // margin-bottom: 60px;
    }

    @include breakpoint(mobile) {
        margin-top: 0px;

        .logo {
            padding: 30px;
            padding-top: 60px;
        }

        .buttons {
            float: none;
            display: table;
            padding: 0px;
            margin: 0 auto;
            margin-top: 10px;

            .airbnb,
            .uniplaces,
            .luxury {
                margin: 0px 0px;
                margin-top: 20px;
                display: block;
            }
        }

        .bar {
            margin-top: 60px;
        }
    }

    @include breakpoint(tablet) {
        .buttons {
            .airbnb,
            .uniplaces,
            .luxury {
                margin: 0px 20px;
                display: inline-block;
            }
        }
    }
}