.casa-fernando {
    padding-top: 60px;
    padding-bottom: 30px;

    .title {
        text-align: center;
    }

    .logo {
        text-align: center;
        padding-top: 30px;

        img {
            max-width: 196px;
        }
    }

    .read-more {
        text-align: center;
    }

    @include breakpoint(mobile) {
        padding-top: 30px;
        padding-bottom: 0px;

        .logo img {
            width: 60%;
        }
    }
}