$red: #930f20;
$white: #FFFFFF;
$gold: #c59b70;
$blackish: #232323;

$height: 115px;

#header {
    background: $white;
    height: $height;
    position: fixed;
    z-index: 9;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid $gold;
    
    font-family: $crimson;
    font-weight: $light;
    font-style: italic;

    // transition: height 0.2s;
    // transition-delay: 0.2s;

    &.smaller {
        $size: 70px;

        height: $size;

        .circle.top, .circle.bottom {
            height: 120px;
            width: 240px;
            // transition-delay: none;
        }

        .circle.bottom {
            border-bottom-left-radius: 150px;
            border-bottom-right-radius: 150px;
        }

        ul li {
            line-height: $size;

            .top {
                display: none;
            }
            .bottom {
                margin-top: 0px;
            }

            &.button {
                height: $size;
            }

            &.logo {
                font-size: 3.4em;
                margin: 0px 40px;

                .circle:after {
                    height: $size;
                }

                a {
                    left: -10px;
                }
            }
        }
    }

    ul {
        height: 100%;
        display: table;
        margin: 0 auto;
        float: none;

        li {
            line-height: $height;
            padding: 0px 25px;

            &.button {
                position: absolute;
                // right: 0px;
                height: $height;
                left: 100%;
            }

            > span, > a {
                font-size: 2.4em;
                position: relative;
                left: 0px;
                color: $blackish;
                z-index: 1;

                &:hover, &.active {
                    color: $gold;
                }
            }

            // a:hover {
            //     position: relative;
            //     // display: block;
            //     transform: scale(1.02);
            //     transition: all 0.2s;
            // }

            &.logo {
                background: $white;
                font-size: 4.5em;
                padding: 10px 30px 5px 30px;
                // border-radius: 50%;
                background: none;
                z-index: 0;

                a.active {
                    color: #343434;
                }

                .circle {
                    position: absolute;
                    top: 0px;
                    left: -35px;
                    z-index: 0;
                    background: #fff;
                    display: block;
                    float: none;
                    padding: 0px;
                    margin: 0px;
                    border: 1px solid $gold;
                    -webkit-background-clip: padding-box;

                    &:after {
                        content: "";
                        visibility: visible;
                        position: absolute;
                        width: 104%;
                        height: $height;
                        background: #fff;
                        background: #fff;
                        top: -2px;
                        left: -2%;
                        z-index: 1;
                    }
                }
            }

            .top {
                position: absolute;
                top: -40px;
                width: 100%;
                text-align: center;
                height: 80px;
            }

            .bottom {
                margin-top: 40px;
            }

            .locale {
                float: none;
                font-style: normal;

                a {
                    line-height: 1;
                    padding: 0px 8px;
                    text-transform: uppercase;
                    box-sizing: border-box;

                    font-family: $lato;
                    font-weight: $regular;
                    font-style: normal;
                    font-size: 1.4em;

                    color: #343434;

                    &:hover {
                        position: relative;
                        display: inline-block;
                        transform: none;
                        transition: none;
                        font-weight: $bold;
                    }

                    &:nth-child(1) {
                        border-right: 1px solid #343434;
                    }

                    &.active {
                        font-weight: $bold;
                    }
                }
            }
        }
    }

    .mobile {
        display: none;
        background: #c4a674;
        z-index: -1;
        padding: 45px 40px 0px 40px;
        height: auto;
        float: left;
        
        ul {
            height: auto;
        }

        li {
            text-align: center;
            width: 100%;
            padding: 0px;
            float: left;
            line-height: 50px !important;

            border-top: 1px solid #fff;

            &.no-border {
                border: none;
            }

            .locale {
                .active {
                    color: #fff;
                }
            }

            &>span:hover,
            &>span.active,
            &>a:hover,
            &>a.active {
                color: #fff;
            }
        }

        .read-more {
            margin: 0 auto;
            float: none;
            display: block;
            text-align: center;
            padding: 0px 0px 10px 0px;
            left: 0px;
            font-style: normal;
            color: #343434;
        }
    }

    .burger-menu {
        $width: 25px;

        width: $width;
        top: 0px;
        left: 0px;
        position: absolute;
        padding: 0px;
        padding-top: 3px;
        padding-left: 5px;

        display: none;

        span {
            position: relative;
            display: block;
            width: $width;
            height: 4px;
            top: $width;
            left: 50%;
            margin-left: -10px;
            background: #343434;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            
            &:before,
            &:after {
                position: absolute;
                background: #343434;
                content: '';
                width: $width;
                height: 4px;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }

            &:before { top: -8px; }
            &:after { top: 8px; }
        }

        &.active span {
            background: transparent;
        }

        &.active span:before {
            -webkit-transform: rotate(45deg) translate(5px, 6px);
            -moz-transform: rotate(45deg) translate(5px, 6px);
            -ms-transform: rotate(45deg) translate(5px, 6px);
            -o-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
        }

        &.active span:after {
            -webkit-transform: rotate(-45deg) translate(5px, -6px);
            -moz-transform: rotate(-45deg) translate(5px, -6px);
            -ms-transform: rotate(-45deg) translate(5px, -6px);
            -o-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
        }
    }

    @include breakpoint(mobile) {
        $size: 60px;

        height: $size;

        &.smaller {
            height: $size;
        }

        .grid-container {
            padding: 0px 10px;
        }
        
        .hide-on-mobile {
            display: none;
        }

        .burger-menu {
            display: block !important;
        }

        .circle.top,
        .circle.bottom,
        &.smaller .circle.top,
        &.smaller .circle.bottom {
            width: 120px;
            height: 85px;
        }

        .circle.bottom,
        &.smaller .circle.bottom {
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }

        a.button,
        &.smaller a.button {
            line-height: 2.2em;
            font-size: 1.2em;
            font-weight: 300;
            padding: 0px 10px;
        }

        ul {
            width: 100%;
            display: block;
            height: $size;
        }

        ul li,
        &.smaller ul li {
            line-height: $size;

            .top {
                display: none;
            }

            .bottom {
                margin-top: 0px;
            }

            &.button {
                height: $size;
                left: initial;
                right: 0px;
                top: 0px;
                padding: 0px;
            }

            &.logo {
                font-size: 2.4em;
                float: none;
                display: table;
                margin: 0 auto;

                .circle {
                    left: 10px;
                    
                    &:after {
                        height: $size;
                    }
                }
            }
        }

        &.smaller ul li.logo a,
        ul li.logo a {
            left: -5px;
        }

        button.button {
            line-height: 30px;
            padding: 0px 10px;
            font-size: 1.2em;
        }
    }

    @include breakpoint(tablet) {
        .burger-menu {
            display: block !important;
        }
    }

    @include breakpoint(mobile) {
        &.opened { height: auto; .mobile { display: block; } }
    }

    @include breakpoint(tablet) {
        &.opened { height: auto; .mobile { display: block; } }
    }

}