$red: #930f20;
$white: #FFFFFF;
$gold: #c59b70;
$blackish: #232323;

#header {
    background: $white;
    height: 90px;
    position: fixed;
    z-index: 9;
    top: 0px;
    left: 0px;
    
    font-family: $crimson;
    font-weight: $light;
    font-style: italic;

    ul {
        height: 100%;
        display: table;
        margin: 0 auto;
        float: none;

        li {
            line-height: 90px;
            padding: 0px 25px;

            &.button {
                position: absolute;
                right: 0px;
                height: 90px;
                left: 100%;
            }

            > span, > a {
                font-size: 2.4em;
                position: relative;
                left: -5px;
                color: $blackish;

                &:hover {
                    color: $gold;
                }
            }

            &.logo {
                background: $white;
                padding: 10px 30px 5px 30px;
                font-size: 4.5em;
                border-radius: 50%;
            }
        }
    }
}