$red: #930f20;
$white: #FFFFFF;
$gold: #c59b70;
$blackish: #232323;

$height: 115px;

#header {
    background: $white;
    height: $height;
    position: fixed;
    z-index: 9;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid $gold;
    
    font-family: $crimson;
    font-weight: $light;
    font-style: italic;

    transition: height 0.2s;
    transition-delay: 0.2s;

    &.smaller {
        $size: 70px;

        height: $size;

        .circle.top, .circle.bottom {
            height: 120px;
            width: 240px;
            transition-delay: none;
        }

        .circle.bottom {
            border-bottom-left-radius: 150px;
            border-bottom-right-radius: 150px;
        }

        ul li {
            line-height: $size;

            .top {
                display: none;
            }
            .bottom {
                padding-top: 0px;
            }

            &.button {
                height: $size;
            }

            &.logo {
                font-size: 3em;

                .circle:after {
                    height: $size;
                }
            }
        }
    }

    ul {
        height: 100%;
        display: table;
        margin: 0 auto;
        float: none;

        li {
            line-height: $height;
            padding: 0px 25px;

            &.button {
                position: absolute;
                right: 0px;
                height: $height;
                left: 100%;
            }

            > span, > a {
                font-size: 2.4em;
                position: relative;
                left: -5px;
                color: $blackish;
                z-index: 1;

                &:hover, &.active {
                    color: $gold;
                }
            }

            a:hover {
                position: relative;
                display: block;
                transform: scale(1.02);
                transition: all 0.2s;
            }

            &.logo {
                background: $white;
                font-size: 4.5em;
                padding: 10px 30px 5px 30px;
                // border-radius: 50%;
                background: none;
                z-index: 0;

                .circle {
                    position: absolute;
                    top: 0px;
                    left: -35px;
                    z-index: 0;
                    background: #fff;
                    display: block;
                    float: none;
                    padding: 0px;
                    margin: 0px;
                    border: 1px solid $gold;

                    &:after {
                        content: "";
                        visibility: visible;
                        position: absolute;
                        width: 104%;
                        height: $height;
                        background: #fff;
                        background: #fff;
                        top: -2px;
                        left: -2%;
                        z-index: 1;
                    }
                }
            }

            .top {
                position: absolute;
                top: -40px;
                width: 100%;
                text-align: center;
            }

            .bottom {
                padding-top: 40px;
            }

            .locale {
                float: none;
                font-style: normal;

                a {
                    line-height: 1;
                    padding: 0px 8px;
                    text-transform: uppercase;
                    box-sizing: border-box;

                    font-family: $lato;
                    font-weight: $regular;
                    font-style: normal;
                    font-size: 1.4em;

                    color: #343434;

                    &:hover {
                        position: relative;
                        display: inline-block;
                        transform: none;
                        transition: none;
                        font-weight: $bold;
                    }

                    &:nth-child(1) {
                        border-right: 1px solid #343434;
                    }

                    &.active {
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}