$gold: #c59b70;

.keypoints {
    padding-top: 80px;

    @include breakpoint(mobile) {
        padding-top: 0px;
    }
}

.keypoint {
    padding: 50px 100px 0px 100px;

    .title, .body {
        text-align: center;
    }

    @include breakpoint(mobile) {
        padding: 50px 0px 0px 0px;
    }
}