$brown: #c4a674;

$height: 525px;

.location {
    height: $height;
    margin-top: 100px;

    > div {
        height: 100%;
    }

    .information {
        padding: 50px 70px;
        position: relative;
        height: 100%;
        background: #343434;
        
        display: table-cell;
        float: none;
    }

    .image {
        display: table-cell;
        float: none;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        // overflow: hidden;
        // height: 100%;

        // img {
        //     width: auto;
        //     max-width: 100%;
        //     height: 100%;

        //     position: absolute;
        //     top: 0px;
        //     left: 0px;
        //     min-width: 100%;
        //     min-height: 100%;
        //     height: auto;
        //     display: block;
        //     max-width: none;
        // }
    }

    .title {
        color: $brown;
        display: block;
    }

    .body {
        padding-top: 60px;
        color: $brown;
        display: block;
    }

    .button-holder {
        // float: none;
        // margin: 0 auto;
        // display: table;
        margin-top: 60px;

        .button {
            float: none;
            margin: 0 auto;
            display: table;
        }
    }

    @include breakpoint(mobile) {
        height: auto;
        // height: 370px;
        margin-top: 50px;

        .information {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .body {
            @include breakpoint(mobile) {
                padding-top: 30px;
            }
        }
    }
    
    @include breakpoint(tablet) {
        height: auto;
        // height: 400px;
    }
}