.news {
    background-color: #c4a674;
    padding: 80px 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    article {
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;

        &:nth-child(1) {
            padding-left: 0px;
        }

        &:nth-child(3) {
            padding-left: 0px;
        }

        .title, .body {
            color: #fff;
            text-align: left;
            
            font-family: $lato;
            font-weight: $light;
            font-style: italic;
            font-size: 1.8em;
        }

        .body {
            padding-top: 20px;
        }
    }

    .text-ornament {
		width: 100%;
        padding-right: 20px;

        .object {
            display: table;
            width: 100%;

            &:before {
                color: #a18a64;
                content: "";
                visibility: visible;
                font-family: 'icomoon';
                content: "\e904";
                visibility: visible;
                position: relative;
                top: 2px;
                padding-right: 1px;
            }

            &:after {
                content: "";
                visibility: visible;
                position: relative;
                display: table-cell;
                float: none;
                overflow-y: hidden;
                border-bottom: 1px solid #a18a64;
                top: -4px;
                width: 100%;
            }
        }
    }

    .read-more {
        white-space: nowrap;
    }

    @include breakpoint(mobile) {
        margin: 0px 0px;
        padding: 45px 0px;

        article {
            padding-top: 40px;
            padding-left: 0px;
            padding-right: 0px;

            .title,
            .body {
                font-size: 1.3em;
            }
        } 
    }
}