.news {
    background-color: #c4a674;
    padding: 80px 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    article {
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;

        &:nth-child(1) {
            padding-left: 0px;
        }

        &:nth-child(3) {
            padding-left: 0px;
        }

        .title, .body {
            color: #fff;
            text-align: left;
            
            font-family: $lato;
            font-weight: $light;
            font-style: italic;
            font-size: 1.9em;
        }

        .title {
            font-size: 2.1em;
            font-weight: $bold;
        }

        .body {
            padding-top: 20px;
        }
    }

    @include breakpoint(mobile) {
        margin: 0px 0px;
        padding: 45px 0px;

        article {
            padding-top: 40px;
            padding-left: 0px;
            padding-right: 0px;

            .title {
                font-size: 1.8em;
            }

            .body {
                font-size: 1.4em;
            }
        }
    }
}