.quote {
    padding: 80px 0px;
    text-align: center;
    
    i {
        font-size: 16em;
    }

    img {
        max-width: 640px;
        margin: 0 auto;
    }

    @include breakpoint(mobile) {
        padding-top: 40px;
        padding-bottom: 40px;

        i {
            font-size: 9em;
        }
    }
}