.tours {

    .note {
        color: #343434;
        font-size: 1.3em;
        padding: 5px;
        text-align: left;
        font-family: $lato;
        font-weight: $regular;
    }

    .item {
        &:nth-child(odd) { padding-right: 7px; }
        &:nth-child(even) { padding-left: 7px; }
    }

    .wrapper {
        background: #343434;
        padding: 40px 45px 40px 45px;
    }

    .title {
        color: #c4a674;
        font-size: 3.7em;
        font-family: $crimson;
        font-weight: $bold;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
    }

    .body {
        margin-top: 40px;
        padding: 0px 10px;
        color: #afafaf;
        font-size: 1.4em;
        font-family: $lato;
        font-weight: $regular;
        text-align: center;

        .elipsis {
            position: absolute;
            bottom: 2px;
            left: 93%;
            margin-left: 3px;
        }

        &.full {
            max-height: auto;
            overflow: hidden;

            .elipsis {
                display: none;
            }
        }
    }

    .quote {
        max-height: 65px;
        overflow: hidden;

        &.opened {
            max-height: none;
            overflow: visible;

            &:after {
                content: none;
            }
        }

        &:after {
            padding-bottom: 5px;
            // background: // linear-gradient(to bottom, rgba(196, 166, 116, 0) 0%, rgba(196, 166, 116, 1) 100%) no-repeat;
            background: linear-gradient(to bottom, rgba(52, 52, 52, 0) 0%, rgba(52, 52, 52, 1) 100%) no-repeat;
            
            content: "";
            position: absolute;
            bottom: 0px;
            z-index: 2;
            visibility: visible;
            width: 100%;
            height: 20px;
        }
    }

    .flags {
        text-align: center;
        padding: 40px 0px 0px 0px;

        .flag {
            display: inline-block;
            position: relative;
            float: none;
            margin: 0px 5px;

            img {
                box-shadow: 0px 0px 9px 1px #34273e;
                border-radius: 50%;
            }
        }
    }

    .logo {
        text-align: center;
        padding-top: 30px;

        img {
            max-width: 59px;
        }
    }

    .contacts {
        padding-top: 30px;
        text-align: center;

        .body {
            font-size: 1.6em;
            text-transform: uppercase;
        }

        .element {
            padding-top: 10px;
        }

        .mail, .phone {
            display: inline-block;
            float: none;
            font-size: 1.6em;
        }

        .phone {
            color: #afafaf;
            font-family: $lato;
            font-weight: $regular;

            &:after {
                content: "|";
                visibility: visible;
                padding: 0px 10px;
                display: inline-block;
                position: relative;
            }
        }

        .mail {
            color: #c4a674;
            font-family: $lato;
            font-weight: $bold;
        }
    }

    .footnote {
        font-size: 0.9em;
    }

    @include breakpoint(mobile) {
        .wrapper {
            padding: 40px 20px 40px 20px;
            display: table;
            float: none;
            margin: 0 auto;
        }
        
        .item {
            margin-bottom: 20px;

            &:nth-child(even),
            &:nth-child(odd) {
                padding: 0px;
            }
        }
    
        .title {
            font-size: 2.0em;
        }

        .body {
            margin-top: 20px;
        }

        .read-more {
            margin-top: 0px;

            text-align: center;
            float: left;
            padding-left: 0px;
            left: initial;
        }

        .flags {
            margin-top: 0px;
            padding-top: 40px;
        }

        .contacts {
            padding-top: 10px;
            font-size: 0.9em;
        }

        .button-container {
            padding-top: 20px;

            .button {
                display: table;
                float: none;
                margin: 0 auto;
            }
        }

        .contacts {
            .mail, .phone {
                display: block;
            }

            .phone:after {
                display: none;
            }
        }

        .note {
            padding: 0px 20px 20px 20px;
            text-align: center;
        }
    }

    // swiper
    .swiper-container {
        position: relative;
        height: auto;
        top: initial;
        left: initial;
        z-index: initial;
        background: none;
        // overflow: auto;
        width: auto;
        float: none;

        .close {
            display: none;
        }

        .swiper-wrapper {
            position: relative;
            
            // .swiper-slide {
            //     &:nth-child(1) {
            //         // left: -10px;
            //         width: 100%;
            //     }

            //     &:nth-child(2) {
            //         // left: -30px;
            //         width: 100%;
            //     }
            // }
        }

        .wrapper {
            // padding: 20px 0px;
            // margin: 0px;
            display: table;
            margin: 0 auto;
        }
    }

    .swiper-slide {
        width: auto;
        opacity: 0.7;
    }

    .swiper-slide-active {
        opacity: 1;
    }

    .swiper-pagination {
        position: relative;
        float: left;
        margin-top: 20px;
    }

    .swiper-button-disabled {
        display: none;
    }

    @include breakpoint(tablet) {

        .item:nth-child(even),
        .item:nth-child(odd) {
            padding: 0px 10px;
        }
    }
}