#header.grid-100.mobile-grid-100
    .grid-container
        ul
            li: a(href="#o-apartamento" data-index="1") O apartamento
            li: a(href="#localizacao" data-index="3") Localização
            //- li.logo: a(href="#"): img(src="/images/_placeholders/logo.png")
            li.logo
                .circle.bottom
                a(href="#home" data-index="0"): i.icon-logo
            li: a(href="#fernando-pessoa" data-index="4") Fernando Pessoa
            li: a(href="#roteiros" data-index="5") Roteiros
            li.button
                .va-parent
                    .va-child
                        a(href="#").button.type1.green Reservar