//- p= page.name
//- p= page.slug
//- p= page.url
//- p= page.parent
//- p= page.child
//- br
//- br
//- p= language.name
//- p= language.iso
//- br
//- br
//- if navigation
//-     if navigation.variations
//-         each item in navigation.variations
//-             //- p= item.name
//-             //- p= item.slug
//-             //- p= item.url
//-             //- p= item.parent
//-             //- p= item.child
//-             a(href=item.url target="_parent")= item.language.iso
//-             br
//-     br
//-     if navigation.menu
//-         each item in navigation.menu
//-             //- p= item.name
//-             //- p= item.slug
//-             //- p= item.url
//-             //- p= item.parent
//-             //- p= item.child
//-             a(href=item.url target="_parent")= item.name
//-             br

#header.grid-100.mobile-grid-100
    .grid-container
        ul.mobile-grid-100
            li.hide-on-desktop.burger-menu: span
            li.hide-on-mobile: a(href="#o-apartamento" data-index="1") O apartamento
            li.hide-on-mobile: a(href="#localizacao" data-index="3") Localização
            li.logo
                .circle.bottom
                a(href="#home" data-index="0"): i.icon-logo
            li.hide-on-mobile: a(href="#fernando-pessoa" data-index="4") Fernando Pessoa
            li.hide-on-mobile: a(href="#roteiros" data-index="5") Roteiros
            li.button
                .va-parent
                    .va-child
                        .content
                            .top
                                .locale
                                    if navigation && navigation.variations
                                        each item in navigation.variations
                                            a(href=item.url class=item.language.iso == language.iso ? 'active' : '')= item.language.iso

                            .bottom
                                button(href="#reservar" data-index="8").button.type1.green Reservar

    .grid-100.mobile-grid-100.mobile
        ul.grid-100.mobile-grid-100
            li: a(href="#o-apartamento" data-index="1") O apartamento
            li: a(href="#localizacao" data-index="3") Localização
            li: a(href="#fernando-pessoa" data-index="4") Fernando Pessoa
            li: a(href="#roteiros" data-index="5") Roteiros
            li
                .locale
                    if navigation && navigation.variations
                        each item in navigation.variations
                            a(href=item.url class=item.language.iso == language.iso ? 'active' : '')= item.language.iso
            li.no-border
                .read-more.up Fechar
            