#header.grid-100.mobile-grid-100
    .grid-container
        ul
            li: a(href="#o-apartamento") O apartamento
            li: a(href="#localizacao") Localização
            //- li.logo: a(href="#"): img(src="/images/_placeholders/logo.png")
            li.logo
                .circle.bottom
                a(href="#home"): i.icon-logo
            li: a(href="#fernando-pessoa") Fernando Pessoa
            li: a(href="#roteiros") Roteiros
            li.button
                .va-parent
                    .va-child
                        a(href="#").button.type1.green Reservar