$gold: #dcb647;
$white: #FFFFFF;
$black: #000000;

#game {
    padding-left: 15px !important;
    padding-right: 15px !important;

    // text-placeholder
    .text-placeholder {
        max-width: 760px;
        height: auto;
        margin: 0 auto;
        float: none;
    }

    .category {
        padding: 0px;
        margin-bottom: 35px;
        padding: 0px 12px;
        overflow: hidden;

        &:first-child { margin-bottom: 0px; }
        &:nth-child(25) {
            margin-bottom: 15px;
            form { min-height: 225px; }
        }

        &[disabled],
        &[disabled] form input,
        &[disabled] label,
        &[disabled] .check {
            cursor: no-drop !important;
        }

        &.small {
            .container label {
                height: 45px;

                .text { width: 195px; }
                .checkbox .check { margin-top: 12px; }
            }
        }

        .statuette {
            position: absolute;
            right: -2px;
            bottom: 0px;
            width: 25px;
            z-index: 0;
            height: 130px;
            z-index: 0;

            img {
                position: absolute;
                right: -25px;
                bottom: -10px;
                height: 100%;
                width: auto;
                z-index: 0;
            }
        }

        &.large {
            .statuette {
                height: 185px;
                right: -13px;
            }

            .container label { background: #ffffff; }
            .container label:nth-child(1),
            .container label:nth-child(2),
            .container label:nth-child(3),
            .container label:nth-child(7),
            .container label:nth-child(8),
            .container label:nth-child(9){ background: #e5e5e5; }
        }

        header {
            text-align: center;
            height: 60px;
            padding: 0px 15px;

            .title {
                font-family: $robotoCondensed;
                font-size: 1.8em;
                color: $gold;
                text-transform: uppercase;
                line-height: 1.2;
            }

            .sub-title {
                padding-top: 5px;
                font-family: $signika;
                font-size: 1.2em;
                color: $white;
            }
        }

        .container {
            margin-top: 15px;
            padding: 0px;
            border-radius: 10px;
            overflow: hidden;
            background: #FFFFFF;
            border-bottom-right-radius: 0px;

            label {
                height: 72px;
                padding: 0px;
                background: #e5e5e5;

                &:nth-child(2n+0) {
                    background: #FFFFFF;
                }

                .thumbnail,
                .checkbox,
                .text {
                    height: 100%;
                    display: inline-block;
                }

                .thumbnail {
                    width: 72px;
                }

                .checkbox {
                    width: 36px;

                    .check {
                        display: block;
                        margin: 0 auto;
                        float: none;
                        margin-top: 27px;
                    }
                }

                .text {
                    width: 127px;

                    .title {
                        color: #747474;
                        font-size: 1.4em;
                        line-height: 1;
                    }

                    .sub-title {
                        margin-top: 3px;
                        color: #9c9c9c;
                        font-size: 1.4em;
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    // end form
    form#end {
        .note {
            font-size: 1.4em;
            font-family: $signika;
            font-weight: lighter;
            padding: 30px 12px;
        }

        .select select {
            font-size: 1.4em;
            text-transform: none;
        }

        label {
            height: 30px;
            float: left;
            margin-top: 25px;

            span, input {
                line-height: 30px;
                font-size: 1.4em;
                float: left;
            }

            span { width: 95px; text-align: right; padding-right: 10px; box-sizing: border-box; }
            input { width: 245px; border: none; color: $black; }

            &:nth-child(2n+0) {
                span { width: 130px; }
                input { width: 300px; }
            }

            &.large {
                width: 100%;

                span { width: 130px; }
                input { width: 644px; }
            }

            &.medium {
                width: 100%;

                span { width: 320px; }
                input { width: 200px; }

                .select {
                    width: auto;
                }
            }
        }

        .bottom {
            margin-top: 25px;
            padding-left: 5px;

            label {
                height: 25px;

                span {
                    width: 350px;
                    text-align: left;
                    padding-left: 10px;
                }

                .check {
                    margin-top: 5px;
                }
            }

            .submit {
                float: right;

                button[disabled="disabled"] {
                    opacity: 0.3;
                }
            }
        }

        input {
            padding: 0px 10px;
            box-sizing: border-box;

            &.ng-invalid.ng-dirty {
                border-bottom: 3px solid red;
            }
        }
    }

    .alert {
        padding: 30px 30px;

        &.no-padding { padding-top: 15px; }

        span {
            color: $gold;
            font-size: 1.8em;
            text-align: center;
            width: 100%;
            display: block;
        }
    }

    .fb-login {
        margin-top: 30px;
        display: block;

        button {
            border: 1px solid $gold;
            margin: 0 auto;
            float: none;
            color: $gold;
            font-size: 1.6em;
            text-align: center;
            display: block;
            width: auto;
            box-sizing: border-box;
            padding: 15px 25px;
            transition: all 0.3s;
            text-transform: uppercase;

            &:hover {
                background: $gold;
                color: $black;
            }
        }
    }

    @include breakpoint(mobile) {
        .category .container label .text {
            width: 238px;
        }

        .category.small label .text {
            width: 310px;
        }
    };
}
