$gold: #dcb647;
$white: #FFFFFF;
$black: #000000;

#home {

    @include breakpoint(mobile) {
        .category .container label .text {
            width: 238px;
        }

        .category.small label .text {
            width: 310px;
        }
    };
}
