include ../mixins/seo

doctype
html

    head

        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')


        //- prevent indexing
        //- meta(name='robots', content='noindex')

        //- css
        link(href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css', rel='stylesheet')
        link(href='/css/main.min.css', rel='stylesheet')

        //- favicon
        link(rel='shortcut icon', href='favicon', type='image/x-icon')
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='icon', sizes='16x16 32x32 64x64', href='/favicon.ico')
        link(rel='icon', type='image/png', sizes='196x196', href='/favicon/favicon-192.png')
        link(rel='icon', type='image/png', sizes='160x160', href='/favicon/favicon-160.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon/favicon-96.png')
        link(rel='icon', type='image/png', sizes='64x64', href='/favicon/favicon-64.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16.png')
        link(rel='apple-touch-icon', href='/favicon/favicon-57.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/favicon/favicon-114.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/favicon/favicon-72.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/favicon/favicon-144.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/favicon/favicon-60.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/favicon/favicon-120.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/favicon/favicon-76.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/favicon/favicon-152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/favicon/favicon-180.png')

        meta(name='msapplication-TileColor', content='#FFFFFF')
        meta(name='msapplication-TileImage', content='/favicon/favicon-144.png')
        //- meta(name='msapplication-config', content='/browserconfig.xml')

        +seo(package, page, custom, seo)

        body(id=page.parent)
            
            //- +flash-messages(messages)

            include ../partials/header.pug

            block content

            block scripts

            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
            
            script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js")
            
            script(src='/javascript/main.min.js')

            script window.cloudinaryPath = !{ JSON.stringify(cloudinaryPath) }
            
            include ./analytics