$white: #d6d5d5;
$black: #000000;
$gold: #dcb647;

html {
    font-size: 62.5% !important;
    background: $white;
    color: $black;
}

body {
    font-size: 1.0em;
    // font-family: $roboto;
    // font-weight: $light;
    overflow-x: hidden;
    min-width: 810px;
    padding-top: 90px;
    box-sizing: border-box;
}

.grid-container {
    max-width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

body > section {
    background: $black;
    color: $white;

    padding: 35px 0px !important;
    float: left;
    display: block;
}
