$white: #fff;
$black: #000000;
$gold: #dcb647;

html, body {
    width: 100%;
    min-height: 100%;
}

html {
    font-size: 62.5% !important;
    background: $white;
    color: $black;
}

body {
    // height: auto;
    float: left;
    font-size: 1.0em;
    // font-family: $roboto;
    // font-weight: $light;
    overflow-x: hidden;
    min-width: 810px;
    min-height: 600px;
    // padding-top: 90px;
    box-sizing: border-box;

    &.hide-overflow {
        overflow: hidden;
    }

    @include breakpoint(mobile) {
        min-width: auto;
        min-height: auto;
    };
}

.grid-container {
    max-width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
    float: none;

    @include breakpoint(mobile) {
        padding-left: 20px;
        padding-right: 20px;
    };
}

// body{
//     overflow:hidden;
// }

// .fadein{
//     opacity:0;
//     transform: matrix(1,0,0,1,0,-5)
// }