/* paths */
$path_font: '../fonts/';

/* fonts */
$font_light: 300;
$font_regular: 400;
$font_semi_bold: 600;
$font_bold: 700;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');
$roboto: 'Roboto', sans-serif;
