.waypoint.banner.grid-100.mobile-grid-100(data-index="0")
    a(name="home")
    
    img.image(src="./images/_placeholders/slider-1.jpg")

    .text-holder.grid-100.mobile-grid-100
        h3 Em Lisboa fique na casa onde morou
        h1 Fernando Pessoa

    .button-holder
        a(href="#").button.transparent Ver fotos

    include ./slider