if banners && banners.length > 0
    .waypoint.banner.grid-100.mobile-grid-100(data-index="0")
        a(name="home")
        
        img.image(src=banners[0].image[0].url)

        .text-holder.grid-100.mobile-grid-100
            h3= banners[0].title
                //- | Em Lisboa fique
                //- br.hide-on-desktop
                //- | na casa onde morou

            h1= banners[0].subTitle

        .button-holder
            a(href="#").button.transparent Ver fotos

        include ./slider