.waypoint.booking.grid-100.mobile-grid-100(data-index="8")
    a(name="reservar")

    .grid-container
        .logo.grid-40.mobile-grid-100
            img(src="/images/logo2.svg")
        .grid-60.mobile-grid-100
            .title.type1.grid-100.mobile-grid-100
                span.ornament.gold Faça a sua reserva
            .body.type1.grid-100.mobile-grid-100
                |Venha viver uma Lisboa diferente.
                br
                | A gente espera por você.
            .grid-100.mobile-grid-100
                .buttons.grid-100.mobile-grid-70
                    a(href="#" target="_blank").airbnb.mobile-grid-100 Airbnb
                    a(href="#" target="_blank").uniplaces.mobile-grid-100 Uniplaces
                    a(href="#" target="_blank").luxury.mobile-grid-100 Luxury

    .bar.grid-100.mobile-grid-100