.waypoint.booking.grid-100.mobile-grid-100(data-index="8")
    a(name="reservar")

    .grid-container
        
        .grid-60.mobile-grid-100
            .title.type1.grid-100.mobile-grid-100
                span.ornament.gold Faça a sua reserva
            .body.type1.grid-100.mobile-grid-100
                |Venha viver uma Lisboa diferente.
                br
                | A gente espera por você.
            .grid-100.mobile-grid-100
                .buttons.grid-100.mobile-grid-70
                    a(href="#" target="_blank").airbnb.mobile-grid-100 Airbnb
                    a(href="#" target="_blank").uniplaces.mobile-grid-100 Stay With Us
            
            .contacts.grid-100.mobile-grid-100
                .body.grid-100.mobile-grid-100 Para mais informações
                .element.grid-100.mobile-grid-100
                    a.phone(href="tel:+351968733859") Bernardo: +351 968733859
                    a.mail(href="mailto:teste@teste.abc") bs@staywithus.pt
                .element.grid-100.mobile-grid-100
                    a.phone(href="tel:+351968733859") Ana Rita: +351 919202563
                    a.mail(href="mailto:teste@teste.abc") ars@staywithus.pt

        .logo.grid-40.mobile-grid-100
            img(src="/images/logo2.svg")

    .bar.grid-100.mobile-grid-100