.waypoint.casa-fernando.grid-100.mobile-grid-100(data-index="6")
    a(name="casa-fernando")

    .title.type2.grid-100.mobile-grid-100
        | Conheça
        br
        | a Casa Fernando Pessoa

    .logo.grid-100.mobile-grid-100: img(src="/images/logo-casa-fernando.png")
    .read-more.right.grey.grid-100.mobile-grid-100 Ver site

.separator