.waypoint.casa-fernando.grid-100.mobile-grid-100(data-index="6")
    a(name="casa-fernando")

    .title.type4.grid-100.mobile-grid-100= __('meet_the_house')
        //- | Conheça
        //- br
        //- | a Casa Fernando Pessoa

    .logo.grid-100.mobile-grid-100: img(src="/images/logo-casa-fernando.png")
    a.read-more.right.grey.grid-100.mobile-grid-100(href="http://casafernandopessoa.cm-lisboa.pt/" target="_blank")= __('view_webiste')

.separator