.waypoint.apartment.grid-100.mobile-grid-100(data-index="4")
    a(name="fernando-pessoa")

    .background2
    
    .grid-container
        .wrapper.grid-100.mobile-grid-100

            .picture.mobile-grid-100.hide-on-desktop
                img(src="/images/_placeholders/picture-1.jpg")

            .copy.grid-60.mobile-grid-100
                .title.type3.grid-100.mobile-grid-100
                    span.ornament.black
                        | Fernado Pessoa
                        br
                        | e este apartamento
                .body.type1.grid-100.mobile-grid-100
                    | O período em que Fernando Pessoa morou neste apartamento (1905 – 1906 ) é extremamente importante na vida dele , pois marca o seu reencontro com Portugal depois de 9 anos vivendo em Durban - Africa do Sul, com a sua mãe, irmãos e o padrasto que havia sido transferido. Em 1905 , Pessoa regressa sozinho á Lisboa a bordo do navio Herzog para frequentar o Curso Superior de Letras, indo morar com a irmã da sua mãe, a tia Anica, na Rua de São Bento nº 17, 2º andar esquerdo –  exatamente neste mesmo apartamento que temos o prazer de lhe receber.

            .picture.grid-40.hide-on-mobile
                img(src="/images/_placeholders/picture-1.jpg")

            .box.grid-100.mobile-grid-100
                .item.grid-50.mobile-grid-100
                    .author.grid-100.mobile-grid-100 Antonio Cardiello
                        span – Pesquisador Pessoano
                    .quote.grid-100.mobile-grid-100
                        span.mark “
                        | A formação intelectual de Fernando Pessoa atravessa um ponto
                        | de viragem entre 1905 e 1906, coincidente com o surgimento
                        | dos proto-heterónimos Charles Robert Anon e Alexander Search
                        | de viragem entre 1905 e 1906, coincidente com o surgimento
                        | A formação intelectual de Fernando Pessoa atravessa um ponto
                        span.mark ”
                    .grid-100.mobile-grid-100.side-by-side
                        .text-ornament.child: .object
                        .read-more.down.brown.child ler mais

                .item.grid-50.mobile-grid-100
                    .author.grid-100.mobile-grid-100 Antonio Cardiello
                        span – Pesquisador Pessoano
                    .quote.grid-100.mobile-grid-100
                        span.mark “
                        | A formação intelectual de Fernando Pessoa atravessa um ponto
                        | de viragem entre 1905 e 1906, coincidente com o surgimento
                        | dos proto-heterónimos Charles Robert Anon e Alexander Search
                        | de viragem entre 1905 e 1906, coincidente com o surgimento
                        | A formação intelectual de Fernando Pessoa atravessa um ponto
                        span.mark ”
                    .grid-100.mobile-grid-100.side-by-side
                        .text-ornament.child: .object
                        .read-more.down.brown.child ler mais

            .anchors.grid-100.mobile-grid-100
                ul
                    li.grid-100.mobile-grid-100
                        a(href="#" target="_blank") O regresso de Fernando Pessoa Lisboa
                    li.grid-100.mobile-grid-100
                        a(href="#" target="_blank") Fernando Pessoa - infância

        .content-script.grid-100.mobile-grid-100
            img.background(src="/images/scripts-background.png").hide-on-mobile

            include ./flipbook

            .grid-50.mobile-grid-100.prefix-50.mobile-center
                .title.type1.grid-100.mobile-grid-100: span.ornament.black Alguns manuscritos originais de Fernando Pessoa no período em que viveu na Rua de São bento, 17
                .buttons.grid-100.mobile-grid-100
                    button.button.type2(data-flipbook-target="diario-pessoal") Diário pessoal
                    button.button.type2(data-flipbook-target="diarios-de-leitura") Diário de Leitura
                    button.button.type2(data-flipbook-target="textos-and-anotacoes") Alguns textos & anotações
                .footnote.grid-100.mobile-grid-100
                    span.
                        *Todos os manuscritos encontrados aqui são reproduções de material encontrado na internet
                        da cópia pública do espólio de Fernando Pessoa albergado na Biblioteca Nacional de Portugal.  
    
.separator