if manuscripts

    script.
        window.manuscripts = !{ JSON.stringify(manuscripts) };

    #flipbook
        .book-wrapper
            .book-container
                #book
        .close &times;