.waypoint.keypoints.grid-100.mobile-grid-100(data-index="1")
    a(name="o-apartamento")

    .grid-container
        each item, index in highlights
            .keypoint.grid-100.mobile-grid-100
                .title.type1.grid-100.mobile-grid-100: span.ornament.gold= item.title
                .body.type1.grid-100.mobile-grid-100!=item.body