extends ../../layouts/base

block content
    
    include ./banner
    include ./highlights
    include ./location
    include ./fernando-pessoa
    include ./tours
    include ./casa-fernando
    include ./news
    include ./booking

block scripts
    script
        | window.banners = !{ JSON.stringify(banners) || '' };
        | window.aboutImages = !{ JSON.stringify(about.images) || '' };