extends ../../layouts/base

include ../../mixins/keypoint

block content
    
    .waypoint.banner.grid-100.mobile-grid-100(data-index="0")
        a(name="home")
        
        img.image(src="./images/_placeholders/slider-1.jpg")

        .text-holder.grid-100.mobile-grid-100.fadein
            h3 Em Lisboa fique na casa onde morou
            h1 Fernando Pessoa

        .button-holder.fadein
            a(href="#").button.transparent Ver fotos

    .waypoint.keypoints.grid-100.mobile-grid-100(data-index="1")
        a(name="o-apartamento")

        .grid-container
            each item, index in keypoints
                +keypoint(item.title, item.body)

    .waypoint.quote.grid-100.mobile-grid-100(data-index="2")
        a(name="escrito")

        .grid-container.fadein
            //- img(src="./images/_placeholders/quote.png")
            i.icon-quote
    
    .waypoint.location.grid-100.mobile-grid-100(data-index="3")
        a(name="localizacao")

        .grid-container.fadein
            .information.grid-50.mobile-grid-100
                .va-parent
                    .va-child
                        span.title.type1: span.ornament.white Localização
                        span.body.type2 Rua de São Bento, nº 17, Lisboa.
                        span.body.type1.
                            10 minutos á pé do Bairro Alto e Chiado, vizinho
                            a supermercados, padarias, livrarias, museus
                            e restaurantes.
                        .button-holder.grid-100.mobile-grid-100
                            a(href="#").button.type1.transparent Google Maps

            .grid-50.mobile-grid-100
                img(src="./images/_placeholders/google-maps.jpg")

    .separator.type2

    .waypoint.apartment.grid-100.mobile-grid-100(data-index="4")
        a(name="fernando-pessoa")

        .background2
        
        .grid-container
            .wrapper.grid-100.mobile-grid-100
                .copy.grid-60.mobile-grid-100.fadein
                    .title.type3.grid-100.mobile-grid-100
                        span.ornament.black
                            | Fernado Pessoa
                            br
                            | e este apartamento
                    .body.type1.grid-100.mobile-grid-100
                        | O período em que Fernando Pessoa morou neste apartamento (1905 – 1906 ) é extremamente importante na vida dele , pois marca o seu reencontro com Portugal depois de 9 anos vivendo em Durban - Africa do Sul, com a sua mãe, irmãos e o padrasto que havia sido transferido. Em 1905 , Pessoa regressa sozinho á Lisboa a bordo do navio Herzog para frequentar o Curso Superior de Letras, indo morar com a irmã da sua mãe, a tia Anica, na Rua de São Bento nº 17, 2º andar esquerdo –  exatamente neste mesmo apartamento que temos o prazer de lhe receber.
                    .quote.grid-100.mobile-grid-100
                        span.mark “
                        | A formação intelectual de Fernando Pessoa atravessa um ponto de viragem entre 1905 e 1906, coincidente com o surgimento dos proto-heterónimos Charles Robert Anon e Alexander Search. São os anos em que o escritor frequenta o então chamado Curso Superior de Letras na Universidade de Lisboa. Durante esta fase de estudo e pesquisa de carácter mais académico, teve a possibilidade de estabelecer os primeiros densos e extensos convívios com diversos autores, linhas ou correntes de pensamento universais.
                        span.mark ”
                    .author.grid-100.mobile-grid-100
                        | _ Antonio Cardiello – Pesquisador Pessoano

                    .anchors.grid-100.mobile-grid-100
                        ul
                            li.grid-100.mobile-grid-100
                                a(href="#" target="_blank") O regresso de Fernando Pessoa Lisboa
                            li.grid-100.mobile-grid-100
                                a(href="#" target="_blank") Fernando Pessoa - infância

                .picture.grid-40.mobile-grid-100.fadein
                    img(src="/images/_placeholders/picture-1.jpg")

            .content-script.grid-100.mobile-grid-100(ng-app="app" ng-controller="flipbook").fadein
                img.background(src="/images/scripts-background.png")

                #flipbook-wrapper.grid-100.mobile-grid-100(ng-show="flipbook1" ng-init="flipbook1 = false")
                    #flipbook
                        div: img(src="/images/manuscritos/diario-pessoal/01.jpg")
                        div: img(src="/images/manuscritos/diario-pessoal/02.jpg")
                        div: img(src="/images/manuscritos/diario-pessoal/03.jpg")
                        div: img(src="/images/manuscritos/diario-pessoal/04.jpg")
                    .close(ng-click="flipbook1 = false") &times;

                .grid-60.mobile-grid-100.prefix-40
                    .title.type1.grid-100.mobile-grid-100: span.ornament.black Manuscritos originais de Fernando Pessoa                    
                    .body.type3.grid-100.mobile-grid-100 Alguns manuscritos originais de Fernando Pessoa do período em que ele viveu na Rua de São Bento, 17.
                    .buttons.grid-100.mobile-grid-100
                        button.button.type2(ng-click="flipbook1 = true") Diário pessoal
                        button.button.type2(ng-click="flipbook1 = true") Diário de Leitura
                        button.button.type2(ng-click="flipbook1 = true") Alguns textos & anotações
    
    .separator

    .waypoint.grid-100.mobile-grid-100
        .slogan.grid-100.mobile-grid-100(data-index="5")
            a(name="roteiros")

            .grid-container.fadein
                span.title.type1.grid-100.mobile-grid-100: span.ornament.gold Roteiros exclusivos
                span.title.type2.grid-100.mobile-grid-100 Conheça a vida e a obra de Fernando Pessoa com os mais conceituados especialistas Pessoanos
                span.body.type1.grid-100.mobile-grid-100!= "Já pensou em tomar um café enquanto discute sobre a obra de Fernando Pessoa? Ou quem sabe, programar colóquios exclusivos e passeios personalizados pela Lisboa de Pessoa? Aproveite a sua estadia e viva essa experiência. Aqui você encontra o contato de conceituados pesquisadores Pessoanos, que irão lhe guiar pelo fascinante universo de Fernando Pessoa. <br> Uma experiência exclusiva para os hospedes da “Rua de São Bento, 17”"

        .tours.grid-100.mobile-grid-100
            .grid-container
                each val in [1, 2]
                    .item.grid-50.mobile-grid-100.fadein
                        .wrapper
                            .title.grid-100.mobile-grid-100 Antonio Cardiello
                            .body.grid-100.mobile-grid-100!= "Doutor em filosofia pela Faculdade de Letras da Universidade de Lisboa. <br>É membro do Centro de Filosofia (CFUL) do mesmo instituto e membro do Nietzsche International Lab (NIL) do Instituto de Filosofia da Universidade Nova de Lisboa (IFILNOVA). Co-director do projecto da Biblioteca de Fernando Pessoa (on-line desde 2010), editou  Uma Stirpe incognita  (EDB Edizioni, 2016) e  co-editou  A Biblioteca particular de Fernando Pessoa  (D. Quixote, 2010) e  Nietzsche e Pessoa. Ensaios  (Tinta-da-china, 2016). Comissário de exposições internacionais sobre Fernando Pessoa, interessa-se pelo pensamento português contemporâneo e pela aproximação entre tradições filosóficas ocidentais e orientais."
                                span.elipsis ...
                            .read-more.down.gold.grid-100.mobile-grid-100 Ler mais
                            .flags.grid-100.mobile-grid-100
                                .flag: img(src="/images/flag-pt.png")
                                .flag: img(src="/images/flag-fr.png")
                            .contacts.grid-100.mobile-grid-100
                                a.mail(href="mailto:teste@teste.abc") Enviar email
                                a.phone(href="tel:+351930000000") +351 930 000 000

    .waypoint.casa-fernando.grid-100.mobile-grid-100(data-index="6")
        a(name="casa-fernando")

        .title.type2.grid-100.mobile-grid-100.fadein
            | Conheça
            br
            | a Casa Fernando Pessoa

        .logo.grid-100.mobile-grid-100: img(src="/images/logo-casa-fernando.png").fadein
        .read-more.right.grey.grid-100.mobile-grid-100.fadein Ver site
    
    .separator

    .waypoint.news.grid-100.mobile-grid-100(data-index="7")
        a(name="noticias")
        .grid-container
            .title.type3.grid-100.mobile-grid-100.fadein
                span.ornament.black Notícias sobre o nosso apartamento

            .grid-100.mobile-grid-100
                each val in [1, 2, 3]
                    article.grid-33.mobile-grid-100.fadein
                        .title Titulo da Matéria
                        .body “O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto...”
                        .grid-100.mobile-grid-100.side-by-side
                            .text-ornament.child: .object
                            .read-more.right.brown.child ler mais

    .separator

    .waypoint.booking.grid-100.mobile-grid-100(data-index="8")
        a(name="reservar")

        .grid-container
            .logo.grid-40.mobile-grid-100.fadein
                img(src="/images/logo2.svg")
            .grid-60.mobile-grid-100.fadein
                .title.type1.grid-100.mobile-grid-100
                    span.ornament.gold Faça a sua reserva
                .body.type1.grid-100.mobile-grid-100
                    |Venha viver uma Lisboa diferente.
                    br
                    | A gente espera por você.
                .buttons.grid-100.mobile-grid-100
                    a(href="#" target="_blank").airbnb Airbnb
                    a(href="#" target="_blank").uniplaces Uniplaces
                    a(href="#" target="_blank").luxury Luxury

        