if location
    .waypoint.grid-100.mobile-grid-100(data-index="3")
        a(name="localizacao")

        .location.grid-100.mobile-grid-100
            .grid-container
                .information.grid-50.mobile-grid-100
                    .va-parent
                        .va-child
                            span.title.type1: span.ornament.white= location.name
                            span.body.type1!= location.text
                            .button-holder.grid-100.mobile-grid-100
                                a(href=location.gmaps target="_blank").button.type1.transparent Google Maps

                .image.grid-50.hide-on-mobile(style="background-image: url('./images/_placeholders/google-maps.jpg')")
                    //- img(src="./images/_placeholders/google-maps.jpg")

        .quote.grid-100.mobile-grid-100
            .grid-container
                img(src="./images/quote.svg")
                //- i.icon-quote

    .separator.type2