.waypoint.news.grid-100.mobile-grid-100(data-index="7")
    a(name="noticias")
    
    .grid-container
        .title.type3.grid-100.mobile-grid-100.fadein
            span.ornament.black Notícias sobre o nosso apartamento

        .grid-100.mobile-grid-100
            each item in articles
                article.grid-33.mobile-grid-100
                    .title.fadein= item.title
                    .body.fadein= item.text
                    .grid-100.mobile-grid-100.side-by-side.fadein
                        .text-ornament.child: .object
                        .read-more.right.brown.child ler mais

.separator