.waypoint.news.grid-100.mobile-grid-100(data-index="7")
    a(name="noticias")
    
    .grid-container
        .title.type3.grid-100.mobile-grid-100
            span.ornament.black Notícias sobre o nosso apartamento

        .grid-100.mobile-grid-100
            each val in [1, 2, 3]
                article.grid-33.mobile-grid-100
                    .title Titulo da Matéria
                    .body “O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto...”
                    .grid-100.mobile-grid-100.side-by-side
                        .text-ornament.child: .object
                        .read-more.right.brown.child ler mais

.separator