if articles.length > 0
    .waypoint.news.grid-100.mobile-grid-100(data-index="7")
        a(name="noticias")
        
        .grid-container
            .title.type3.grid-100.mobile-grid-100
                span.ornament.black= __('news_title')

            .grid-100.mobile-grid-100
                each item in articles
                    article.grid-33.mobile-grid-100
                        .title.grid-100= item.title
                        .body.grid-100= item.text
                        .grid-100.mobile-grid-100.side-by-side
                            .text-ornament.child: .object
                            a(href=item.url).read-more.right.brown.child= __('read_more')

    .separator