// Slider main container
.swiper-container
    // Additional required wrapper
    .swiper-wrapper
        // Slides
        //- .swiper-slide: .va-parent: .va-child: img(src="./images/_placeholders/slider-1.jpg")
        //- .swiper-slide: .va-parent: .va-child: img(src="./images/_placeholders/slider-1.jpg")
        //- .swiper-slide: .va-parent: .va-child: img(src="./images/_placeholders/slider-1.jpg")

    // If we need pagination
    .swiper-pagination
    // If we need navigation buttons
    .swiper-button-prev
    .swiper-button-next
    // If we need scrollbar
    //- .swiper-scrollbar
    
    .close &times;